form {
  border-radius: 10px;
  display: block;
  margin: 40px auto;
  max-width: 380px;
  padding: 15px;
}

label {
  font-family: var(--default-font-family);
}

.label-input {
  font-size: 18px;
  margin: 0 0 10px;
}

.text-box {
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 7px 0;
  padding: 10px 15px;
  width: 100%;
}

.text-box:focus {
  border: 2px solid var(--primary-color);
  outline: 3px solid #a49ff9;
}

.btn-primary {
  border-radius: 7px;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
  width: 100%;
}

.contact-info-container {
  margin: 30px 0;
  text-align: center;
}




