:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f0fe;
  --background-color: #f8f6fc;
  --heading-font-family: "Salsa", cursive;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.2);
}

nav {
  box-shadow: 0 7px 7px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #000;
  font-size: 30px;
  letter-spacing: 1px;
}

header {
  background: linear-gradient(
    90deg,
    rgb(240, 238, 254) 0%,
    rgb(185, 181, 254) 100%
  );
}

header.primary {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 200px 30px 140px;
}

header .row {
  align-items: center;
  gap: 60px;
  max-width: 1300px;
}

header p {
  font-size: 20px;
  line-height: 2;
}

header .btn-primary,
header .btn-secondary {
  border-radius: 20px;
  padding: 17px 30px;
}

header .btn-secondary {
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

header img {
  background-color: transparent;
  border: 7px dotted var(--primary-color);
  border-radius: 50%;
  width: 100%;
  padding: 7px;
}

header.secondary {
  background-color: var(--background-color);
  height: fit-content;
  padding: 160px 10px 90px;
}

header.secondary h1 {
  font-size: 72px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: 20px;
  margin-top: 12px;
}

h3 {
  font-size: 20px;
}

main,
footer {
  padding: 0 30px;
}

main {
  margin: 40px auto;
  max-width: 1000px;
}

main img {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.special-text {
  color: var(--primary-color);
}

.btn-primary,
.btn-secondary {
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 170ms ease-in-out;
}

.btn-primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--background-color);
}

.btn-primary:hover {
  background: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.quote {
  font-family: "Courier Prime", monospace;
  font-style: italic;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  color: var(--primary-color);
  font-size: 30px;
  margin: 0 20px;
}

footer {
  background: linear-gradient(
    90deg,
    rgb(185, 181, 254) 0%,
    rgb(240, 238, 254) 100%
  );

  padding: 50px 0;
  text-align: center;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
}

/* tablet users */
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  .project-links {
    max-width: 245px;
  }

  main .btn-secondary {
    font-size: 12px;
  }
}

/* mobile users */
@media (max-width: 575px) {
  main .btn-primary {
    display: block;
    font-size: 12px;
    margin: 0 auto;
    max-width: 105px;
  }

  .container .row {
    padding-bottom: 40px;
    border-bottom: 1px dashed rgb(198, 198, 198);
    text-align: center;
  }
}
