:root {
  --primary-color: #6c63ff;
  --secondary-color: #e7dbff;
  --background-color: #f2ebff;
  --heading-font-family: "Salsa", cursive;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: 36px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

section {
  display: block;
  margin: 0px auto;
  padding: 80px 30px;
}

section.secondary {
  background-color: var(--background-color);
}

.container {
  max-width: 1200px;
}

.special-text {
  color: var(--primary-color);
}

.btn-primary,
.btn-secondary {
  border-radius: 50px;
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 170ms ease-in-out;
}

.btn-primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
}

.quote {
  font-family: "Courier Prime", monospace;
  font-style: italic;
}

.featured-project {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 8px 32px 0 #cbc9ff;
  backdrop-filter: blur(4px);
  border: 1px solid #fff;
  margin: 12px 0;
  -webkit-backdrop-filter: blur(4px);
}

.card-body {
  background-color: #fff;
}

.card .btn-primary,
.card .btn-secondary {
  font-size: 14px;
  margin: 0;
  text-align: center;
  width: 100%;
}

.project-links {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  section {
    padding: 80px 20px;
  }
}

@media (max-width: 575px) {
  header.primary h1 {
    font-size: 45px;
  }

  header.secondary h1 {
    font-size: 50px;
  }

  header p {
    font-size: 18px;
  }

  header .btn-primary,
  header .btn-secondary {
    padding: 17px 25px;
  }

  section {
    padding: 80px 10px;
  }
}
