.ThemeSwitcher .btn-theme {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 7px 12px;
  transition: 200ms;
  width: fit-content;
}

.ThemeSwitcher .btn-theme:hover {
  opacity: 0.8;
}

.ThemeSwitcher i {
  color: var(--text);
}

@media (max-width: 575px) {
  .ThemeSwitcher .btn-theme {
    padding: 7px 0;
  }
}